p {
    font-size: 2em;
    font-weight: bold;
}

.help {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    width: 500px;
    margin: auto;
}

.rules {
    text-align: left;
    font-size: 1em;
}