.login-container {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    width: 500px;
    margin: auto
}

.login {
    font-size: .5em;
}

.login-cancel {
    text-decoration: none;
    color: black;
}

.login-cancel:hover {
    text-decoration: underline;
}

.nouser {
    font-size: .4em;
    text-decoration: none;
    color: black;
}

.nouser-link {
    font-size: .5em;
    text-decoration: none;
    color: black;
}

.nouser-link:hover {
    text-decoration: underline;
}