.main {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    width: 500px;
    margin: auto
}

.login {
    font-size: .5em;
}

.signup-button {
    text-decoration: none;
    color: black;
}

.signup-button:hover {
    text-decoration: underline;
}

