.welcome-container {
    display: flex;
    position: fixed;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    width: 500px;
    margin: auto;    
}

.login-link {
    text-decoration: none;
    color: black;
}

.login-link:hover {
    text-decoration: underline;
}